.cadastrarVendasPage {
  background-color: #CADEE2;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.cadastrarVendas{
  display: grid;

  gap:6rem;
  grid-template-columns: 20% 75%;


}

.divsForms{
  display: flex;
  justify-content: space-between;
}

.divsForms2{
  width:100%;
}

.line1CadProd{
  width:15rem;
}

.input100{
  width:100%;
}

.divInputObs{
  width:50%;
}

.divInputPc{
  width:30%;
}

.divInputCadProdLinha3{
  width:30%;
}

.inputLine1CadProd {
  width: 100%;
}

.boxCadastrarVendas{
  background-color: white;
  padding: 2.7rem 3.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 3px;
  margin:3.1rem;
}

.titulo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #358A96;
  border-bottom: solid 1px #8C8C8C;
  width: 100%;
}

.buttonEntrar{
  width:8rem;
  height: 2.7rem;

}

.buttonDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}