.navBar {
  background-color: #0F144E;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin:0px;
  width: 100vh;
}

.navBar p{
  color:white;
  font-weight: 800;
  font-size: 24px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

@media (min-width: 930px) {
  .navBar {
    width:auto
  }
}