.listaVendasPage {
  background-color: #CADEE2;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.boxListaVendas{
  background-color: white;
  padding: 2.7rem 3.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 3px;
  margin:3.1rem 0 3.1rem 0;

  overflow-x: scroll;
}


.buttonEntrar{
  width:8rem;
  height: 2.7rem;

}

.buttonDivAlt{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.tableTitles{
  padding:3px;
  text-align: start;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#6b6a6a;
}

.tableContent{
  min-width:min-content;
  white-space: nowrap;
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  padding: 10px;
  background-color: #c1bfbf;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}