.divsForms{
  display: flex;
  justify-content: space-between;
}

.divsForms2{
  width:100%;
}

.buttonEntrar{
  width:8rem;
  height: 2.7rem;

}

.buttonDivAlt{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.tableTitles{
  padding:3px;
  text-align: start;
  font-size: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#6b6a6a;
}

.tableContent{
  white-space: nowrap;
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  padding: 10px;
  background-color: #c1bfbf;
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 930px) {

  .listaProdutoPage {
    background-color: #CADEE2;
    width: 100%;
    padding: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .tableTitles{
    padding:3px;
    text-align: start;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#6b6a6a;
  }
  
  .tableContent{
    min-width:min-content;
    white-space: nowrap;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    padding: 10px;
    background-color: #c1bfbf;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

}
